runs/Jul22_01-43-10_Re/events.out.tfevents.1658421790.Re
runs/Jul22_01-44-10_Re/events.out.tfevents.1658421850.Re
runs/Jul22_01-45-34_Re/events.out.tfevents.1658421934.Re
runs/Jul22_01-46-06_Re/events.out.tfevents.1658421967.Re
runs/Jul22_02-04-36_Re/events.out.tfevents.1658423076.Re
runs/Jul22_02-04-36_Re/projector_config.pbtxt
runs/Jul22_02-04-36_Re/00000/default/metadata.tsv
runs/Jul22_02-04-36_Re/00000/default/tensors.tsv
runs/Jul22_02-05-15_Re/events.out.tfevents.1658423115.Re
runs/Jul22_02-05-15_Re/projector_config.pbtxt
runs/Jul22_02-05-15_Re/00000/default/metadata.tsv
runs/Jul22_02-05-15_Re/00000/default/tensors.tsv
runs/Jul22_02-08-25_Re/events.out.tfevents.1658423305.Re
runs/Jul22_02-08-25_Re/projector_config.pbtxt
runs/Jul22_02-08-25_Re/00000/default/metadata.tsv
runs/Jul22_02-08-25_Re/00000/default/tensors.tsv
.idea/.gitignore
.idea/Abstlyze.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
geckodriver.exe
geckodriver.log
src/config.json
*.png
*.html
*.pyc
